@model Absa.DTO.BusinessUnitDTO

@{
    ViewBag.Title = "BusinessUnit";
}

<style>
	.text-field {
		border-radius: 50px;
	}

	.btn.btn-circle {
		border-radius: 50px;
	}
</style>

@using (Html.BeginForm("SaveUpdateBusinessUnit", "BusinessUnit", FormMethod.Post, new { id = "myRolePermissions" }))
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.BusinessUnitId)
	<form>
		<div class="row">
			<div class="col">
				@Html.EditorFor(model => model.BusinessUnitName, new { htmlAttributes = new { @class = "form-control text-field", placeholder = "Business Unit", autocomplete = "off", required = "required" } })
				@Html.ValidationMessageFor(model => model.BusinessUnitName, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				@Html.EditorFor(model => model.IsActive)
				@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				@Html.EditorFor(model => model.NumberOfApps, new { htmlAttributes = new { @class = "form-control text-field", placeholder = "Number Of Apps", autocomplete = "off", required = "required" } })
				@Html.ValidationMessageFor(model => model.NumberOfApps, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control text-field", placeholder = "Description", autocomplete = "off", required = "required" } })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>
		<br>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default btn-circle" />
			</div>
		</div>
	</form>
}