@model IEnumerable<Absa.Web.Models.BusinessUnitModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Business Unit
        </th>
        <th>
           Description
        </th>
		<th>
			IsActive
		</th>
		<th>
			Number Of Applications
		</th>
		<th>
			Date Created
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnitName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.IsActive)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.NumberOfApps)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DateLogged)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessUnitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessUnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessUnitId })
        </td>
    </tr>
}

</table>
