@model IEnumerable<Absa.Web.Models.ResilienceTrackModel>
@{
    ViewBag.Title = "Approval";
}
@section scripts{
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "User",
                width: 600
            });
            $("#UserList .EditUser").click(function () {
            	var id = $(this).closest('tr').find('td:eq(0)').text();
                $.ajax({
                    type: "POST",
                    url: "/Account/EditUser",
                    data: '{userID: "' + id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
	</script>

}
<style>
	.col1 {
		display: none;
	}

	.col2 {
		display: none;
	}
</style>
<div id="dialog" style="display: none"></div>
<h3 class="modal-title" id="myModalLabel">Resilience Track</h3>
<br>
<table class="table table-bordered" id="UserList">
	<tr>
		<th class="col1">

		</th>
		<th>
			Strategic Fit
		</th>
		<th>
			Disaster Recovery
		</th>
		<th>
			BackUp - Data
		</th>
		<th>
			BackUp - Configuration
		</th>
		<th>
			High Availability
		</th>
		<th>
			SPOF
		</th>
		<th>
			Operational Monitiring
		</th>
		<th>
			Internal OLA
		</th>
		<th>
			Architeture Documentation
		</th>
		<th>
			External SLA
		</th>
		<th>
			Oparations Documentation
		</th>
		<th>
			Head Of Technology
		</th>
		<th>
			Applicatio Owner
		</th>
		<th>
			Highest Data Classification
		</th>
		<th>
			Data Retention Requirement
		</th>
		<th>
			JML Process
		</th>
		<th>
			Privileged Access Management
		</th>
		<th>
			OS Patching Level
		</th>
		<th>
			Application Patching Level
		</th>
		<th>
			Middleware Patching Level
		</th>
		<th>
			Supported Application
		</th>
		<th>
			Supported Operation System
		</th>
		<th>
			Supported Java
		</th>
		<th>
			Supported Middleware
		</th>
		<th>
			Supported Database
		</th>
		<th>
			Open Vulnerabilities
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
		{
		<tr>
			<td class="col1">
				@Html.DisplayFor(modelItem => item.ResilienceTrackID, new { id = "userID" })
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StrategicFit)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DisasterRecovery)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BackUpData)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BackUpConfiguration)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HighAvailability)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SPOF)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OperationalMonitiring)
			</td>
		    <td>
			   @Html.DisplayFor(modelItem => item.SecurityMonitoring)
		   </td>
			<td>
				@Html.DisplayFor(modelItem => item.InternalOLA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ArchitetureDocumentation)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExternalSLA)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OparationsDocumentation)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HighestDataClassification)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataRetentionRequirement)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.JMLProcess)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PrivilegedAccessManagement)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OSPatchingLevel)
			</td>
				<td>
				@Html.DisplayFor(modelItem => item.ApplicationPatchingLevel)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MiddlewarePatchingLevel)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SupportedApplication)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SupportedOperationSystem)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SupportedJava)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SupportedMiddleware)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SupportedDatabase)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OpenVulnerabilities)
			</td>
			<td>
				<button class="details btn btn-sm btn-success" type="button" id="userList" href="javascript:;">Over Role</button>
			</td>
		</tr>
	}

</table>
		 
		 
		 
		