@model IEnumerable<Absa.Web.Models.ResilienceTrackModel>
@{
    ViewBag.Title = "Approval";
}

  <script type="text/javascript">
  	$(function () {
  		$("td:contains('Yes')").addClass('greenBg');
  		$("td:contains('No')").addClass('redBg');
  		$("td:contains('Warning')").addClass('yellowBg');
  	});
  </script>


<style>
	.col1 {
		display: none;
	}

	.btn.btn-circle { 
		border-radius: 50px;
	}

	.greenBg {
        background: green;
    }
	
	.redBg {
        background: firebrick;
    }

	.yellowBg {
        background: gold;
    }

</style>
<div id="dialog" style="display: none"></div>
<h4 class="modal-title" id="myModalLabel">Resilience Track</h4>
<br>
<button type="button" class="btn btn-sm btn-circle btn-danger">OUTSTANDING</button>
<button type="button" class="btn btn-sm btn-circle btn-warning">TCB</button>
<button type="button" class="btn btn-sm btn-circle btn-success">COMPLETE</button>
<button type="button" class="btn btn-sm btn-circle btn-default">DECOMMISSIONED</button>
<br>
<br>
<font size="2">
	<table  class="table table-bordered" id="tbl">
		<tr>
			<th class="col1">
			</th>
			<th>
				Strategic Fit
			</th>
			<th>
				Disaster Recovery
			</th>
			<th>
				BackUp-Data
			</th>
			<th>
				BackUp-Configuration
			</th>
			<th>
				High Availability
			</th>
			<th>
				SPOF
			</th>
			<th>
				Operational Monitoring
			</th>
			<th>
				Security Monitoring
			</th>
			<th>
				Internal OLA
			</th>
			<th>
				External SLA
			</th>
			<th>
				Architeture Documentation
			</th>
			<th>
				Oparations Documentation
			</th>
			<th>
				Highest Data Classification
			</th>
			<th>
				Data Retention Requirement
			</th>
			<th>
				Integrated To AD
			</th>
			<th>
				JML Process
			</th>
			<th>
				Recertification Process
			</th>
			<th>
				Privileged Access Management
			</th>
			<th>
				OS Patching Level
			</th>
			<th>
				Application Patching Level
			</th>
			<th>
				Middleware Patching Level
			</th>
			<th>
				Supported Application
			</th>
			<th>
				Supported Operation System
			</th>
			<th>
				Supported Java
			</th>
			<th>
				Supported Middleware
			</th>
			<th>
				Supported Database
			</th>
			<th>
				OpenVulnerabilities
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td class="col1">
					@Html.DisplayFor(modelItem => item.ResilienceTrackID, new { id = "resilienceTrackId" })
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StrategicFit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DisasterRecovery)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BackUpData)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BackUpConfiguration)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HighAvailability)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SPOF)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OperationalMonitoring)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SecurityMonitoring)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InternalOLA)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExternalSLA)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ArchitetureDocumentation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OparationsDocumentation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HighestDataClassification)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataRetentionRequirement)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IntegratedToAD)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.JMLProcess)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RecertificationProcess)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrivilegedAccessManagement)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OSPatchingLevel)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationPatchingLevel)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MiddlewarePatchingLevel)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportedApplication)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportedOperationSystem)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportedJava)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportedMiddleware)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportedDatabase)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OpenVulnerabilities)
				</td>
			</tr>
		}
	</table>
</font>