@model Absa.Web.Models.ResilienceTrackModel
@{
	ViewBag.Title = "Edit Resilience Track";
	Layout = null;

}
@section scripts{
	<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
}
<br>
<br>
@using (Html.BeginForm("AddUpdateResilienceTrack", "Home", FormMethod.Post, new { id = "myForm" }))
{
	@Html.AntiForgeryToken()
	<form>
		<div class="form-row">
			<div class="col">
				@Html.EditorFor(model => model.ApplicationID, new { htmlAttributes = new { @class = "form-control", placeholder = "Application ID", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.ApplicationID, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				@Html.EditorFor(model => model.ApplicationName, new { htmlAttributes = new { @class = "form-control", placeholder = "Application Name", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.ApplicationName, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				@Html.EditorFor(model => model.NameOnSnow, new { htmlAttributes = new { @class = "form-control", placeholder = "Name On Snow", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.NameOnSnow, "", new { @class = "text-danger" })
			</div>
		</div>
		<br>
		<div class="form-row">
			<div class="col">
				@Html.EditorFor(model => model.HeadOfTechnology, new { htmlAttributes = new { @class = "form-control", placeholder = "Head Of Technology", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.HeadOfTechnology, "", new { @class = "text-danger" })
			</div>
			<div class="col">
			@Html.EditorFor(model => model.ApplicatioOwner, new { htmlAttributes = new { @class = "form-control", placeholder = "Application Owner", autocomplete = "off" } })
			@Html.ValidationMessageFor(model => model.ApplicatioOwner, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				@Html.EditorFor(model => model.ServiceManager, new { htmlAttributes = new { @class = "form-control", placeholder = "Service Manager", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.ServiceManager, "", new { @class = "text-danger" })
			</div>
		</div>
		<br>
		<div class="form-row">
			<div class="col">
				@Html.EditorFor(model => model.Tiering, new { htmlAttributes = new { @class = "form-control", placeholder = "Tiering", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.Tiering, "", new { @class = "text-danger" })
			</div>
			<div class="col">
				
			</div>
			<div class="col">
			
			</div>
		</div>
		<br />
		<div class="form-row">
			<div class="form-group col-md-6">
				<input type="submit" value="Save" id="butValidateForm" class="btn btn-success btn-lg btn-block" />
			</div>
		</div>
	</form>
}

@*

	StrategicFit
	DisasterRecovery
	BackUpData
	BackUpConfiguration
	HighAvailability
	SPOF
	OperationalMonitoring
	SecurityMonitoring
	InternalOLA
	ExternalSLA
	ArchitetureDocumentation
	OparationsDocumentation
	HighestDataClassification
	DataRetentionRequirement
	IntegratedToAD
	JMLProcess
	RecertificationProcess
	PrivilegedAccessManagement
	OSPatchingLevel
	ApplicationPatchingLevel
	MiddlewarePatchingLevel
	SupportedApplication
	SupportedOperationSystem
	SupportedJava
	SupportedMiddleware
	SupportedDatabase
	OpenVulnerabilities *@