@model Absa.Web.Models.DashBord
@{
    ViewBag.Title = "DashBord";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
	div.light {
  width: 50px;
  height: 50px;
  background-color: green;
}
</style>

<h3>T100R Seven Pillas</h3>
<br>
<div class="card w-100">
	<div class="card-body">
		<h5 class="card-title">Business Unit</h5>
		@using (Html.BeginForm())
		{
		  @Html.DropDownListFor(model => model.BusinessUnit, Model.BusinessUnitList, new { @class = "form-control" ,id  = "businessUnit"})
		  <br />
		  <input type="submit" value="Search" class="btn btn-danger" />
		}
	</div>
</div>
<br>
<button type="button" class="btn btn-sm btn-success"> </button>Yes
<button type="button" class="btn btn-sm btn-warning"> </button>Warning
<button type="button" class="btn btn-sm btn-danger"> </button>No
<br>
<br>
<div class="card-deck">
	<div class="card" id="dvChangeColor">
		<div class="card-header"><h5 class="card-title">Strategic Fit</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">@ViewBag.StrategicFitYes</button>
			<button type="button" class="btn btn-sm btn-warning">@ViewBag.StrategicFitNo</button>
			<button type="button" class="btn btn-sm btn-danger">@ViewBag.StrategicFitWarning</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Disater Recover</button>
		</div>
	</div>
	<div class="card" id="dvChangeColor">
		<div class="card-header"><h5 class="card-title">Disater Recover</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">@ViewBag.DisasterRecoverYes</button>
			<button type="button" class="btn btn-sm btn-warning">@ViewBag.DisasterRecoverNo</button>
			<button type="button" class="btn btn-sm btn-danger">@ViewBag.DisasterRecoverWarning</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Disater Recover</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">BackUp - Data</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">@ViewBag.BackUpDataYes</button>
			<button type="button" class="btn btn-sm btn-warning">@ViewBag.BackUpDataNo</button>
			<button type="button" class="btn btn-sm btn-danger">@ViewBag.BackUpDataWarning</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">BackUp - Data</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">BackUp - Configuration</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">@ViewBag.BackUpConfigurationYes</button>
			<button type="button" class="btn btn-sm btn-warning">@ViewBag.BackUpConfigurationNo</button>
			<button type="button" class="btn btn-sm btn-danger">@ViewBag.BackUpConfigurationWarning</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">BackUp - Configuration</button>
		</div>
	</div>
</div>
<br>
<div class="card-deck">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">High Availability</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">High Availability</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Single Point of Failure</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Single Point of Failure</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header"><h5 class="card-title">Monitoring</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Monitoring</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Unsupported Infrastruture</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Unsupported Infrastruture</button>
		</div>
	</div>
</div>
<br />
<div class="card-deck">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Operational Monitoring</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Operational Monitoring</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Security Monitoring</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Security Monitoring</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Internal OLA</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Internal OLA</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">External SLA</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">External SLA</button>
		</div>
	</div>
</div>
<br />
<div class="card-deck">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Archicteture Documentation</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Archicteture Documentation</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Operational Documentation</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Operational Documentation</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Integrated to AD</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Integrated to AD</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">JML Process</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">JML Process</button>
		</div>
	</div>	
</div>
<br />
<div class="card-deck">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Recertification Process</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Recertification Process</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Privileged Access Management</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Privileged Access Management</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">OS Patching Level</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">OS Patching Level</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Application Patching Level</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Application Patching Level</button>
		</div>
	</div>
</div>
<br />
<div class="card-deck" id="dashBord">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Middleware Patching Level</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Middleware Patching Level</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Supported Application</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Supported Application</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Supported OS</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Supported OS</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Supported Java</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Supported Java</button>
		</div>
	</div>
</div>
<br>
<div class="card-deck" id="dashBord">
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Supported Middleware</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Supported Middleware</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header"><h5 class="card-title">Supported Database</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Supported Database</button>
		</div>
	</div>
	<div class="card" id="dashBord">
		<div class="card-header"><h5 class="card-title">Open Vulnerabilities</h5></div>
		<div class="card-body">
			<button type="button" class="btn btn-sm btn-success">0</button>
			<button type="button" class="btn btn-sm btn-warning">0</button>
			<button type="button" class="btn btn-sm btn-danger">0</button>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">Open Vulnerabilities</button>
		</div>
	</div>
</div>