@model Absa.Web.Models.ApplicationModel

@{
    ViewBag.Title = "RequestApproved";
}
<script type="text/javascript">
   	function deleteUser() {
   		var userId = $("#resilienceTrackID").val();
   			$.ajax({
   				type: "POST",
   				url: "/Account/Delete",
   				data: '{resilienceTrackID: "' + resilienceTrackID + '" }',
   				contentType: "application/json; charset=utf-8",
   				dataType: "html",
   				success: function (response) {
   				},
   				failure: function (response) {
   					alert(response.responseText);
   				},
   				error: function (response) {
   					alert(response.responseText);
   				}
   		   });
   	}
</script>

<div>
    <dl class="dl-horizontal">
		@Html.HiddenFor(model => model.ResilienceID, new { id = "resilienceTrackID" })
        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
    </dl>
	<br>
	<div class="form-row">
		<div class="form-group col-md-6">
			<input type="submit" value="Submit" class="btn btn-circle btn-outline-success btn-lg btn-block" onClick="approveRequest(); return false" />
		</div>
	</div>
</div>

