@model PagedList.IPagedList<Absa.Web.Models.ResilienceTrackModel>
@using PagedList.Mvc;
@using PagedList;
@{
	ViewBag.Title = "Resilence Track";
}

@section scripts{
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
        $(function () {
            $("#dialogs").dialog({
                autoOpen: false,
                modal: true,
                title: "Resilience Track",
                width: 900,
                height: 800
            });
            $("#Resilience .Create").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Create",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogs').html(response);
                        $('#dialogs').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
	</script>

	<script type="text/javascript">
		$(function () {
			$("#dialogss").dialog({
				autoOpen: false,
				modal: true,
				title: "Resilience Track",
				width: 900,
				height: 800
			});
			$("#Resilience .Edit").click(function () {
				var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
				$.ajax({
					type: "POST",
					url: "/Home/EditResilienceTrack",
					data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (response) {
						$('#dialogss').html(response);
						$('#dialogss').dialog('open');
					},
					failure: function (response) {
						alert(response.responseText);
					},
					error: function (response) {
						alert(response.responseText);
					}
				});
			});
		});
	</script>

	<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Resilience Track",
                width: 1600,
                height: 500
            });
            $("#Resilience .Apporval").click(function () {
            	var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
                $.ajax({
                	type: "POST",
                    url: "/Home/Approval",
                    data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
	</script>

}
<style>
	.col1 {
		display: none;
	}

	.col2 {
		display: none;
	}
</style>
<div id="dialog" style="display: none"></div>
<div id="dialogs" style="display: none"></div>
<div id="dialogss" style="display: none"></div>
<h4 class="modal-title" id="myModalLabel">Resilience Track</h4>
<br>
<div class="card w-100">
	<div class="card-body">
		<h5 class="card-title">Find by Application ID :</h5>
		@using (Html.BeginForm("ResiliencTrackList", "Home", FormMethod.Get))
		{
			<p>
				 @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { @class = "form-control mr-sm-2" , autocomplete = "off" })
				<br />
				<input type="submit" value="Search" class="btn  btn-sm btn-danger" />
			</p>
		}
	</div>
</div>
<br>
<font size="2">
	<table class="table table-bordered" id="Resilience">
		<tr>
			<th class="col1">

			</th>
			<th>
				Application ID
			</th>
			<th>
				Application Name
			</th>
			<th>
				Name On Snow
			</th>
			<th>
				Head Of Technology
			</th>
			<th>
				Applicatio Owner
			</th>
			<th>
				Service Manager
			</th>
			<th>
				Tiering
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td class="col1">
					@Html.DisplayFor(modelItem => item.ResilienceTrackID, new { id = "resilienceTrackId" })
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NameOnSnow)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HeadOfTechnology)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicatioOwner)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ServiceManager)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tiering)
				</td>
				<td>
					<button class="Create btn btn-sm btn-success" type="button" id="Resilience" href="javascript:;">CREATE</button>
					<button class="Edit btn btn-sm btn-primary" type="button" id="Resilience" href="javascript:;">MODIFY</button>
					<button class="Apporval btn-sm btn-danger" type="button" id="Resilience" href="javascript:;">APPROVAL</button>
				</td>
			</tr>
		}
	</table>
	<br>
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
	@Html.PagedListPager(Model, page => Url.Action("ResiliencTrackList", "Home", new { page , @class ="pagination"}))
	
</font>