@model PagedList.IPagedList<Absa.Web.Models.ResilienceTrackModel>
@using PagedList.Mvc;
@using PagedList;
@{
	ViewBag.Title = "Resilence Track";
}

@section scripts{
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
        $(function () {
            $("#dialogs").dialog({
                autoOpen: false,
                modal: true,
                title: "Resilience Track",
                dialogClass: 'titleColor',
                width: 1498,
                height: 647
            });
            $("#create .Create").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Create",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialogs').html(response);
                        $('#dialogs').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
	</script>

	<script type="text/javascript">
		$(function () {
			$("#dialogss").dialog({
				autoOpen: false,
				modal: true,
				title: "Resilience Track",
				dialogClass: 'titleColor',
				width: 1498,
				height: 647
			});
			$("#Resilience .Edit").click(function () {
				var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
				$.ajax({
					type: "POST",
					url: "/Home/EditResilienceTrack",
					data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
					contentType: "application/json; charset=utf-8",
					dataType: "html",
					success: function (response) {
						$('#dialogss').html(response);
						$('#dialogss').dialog('open');
					},
					failure: function (response) {
						alert(response.responseText);
					},
					error: function (response) {
						alert(response.responseText);
					}
				});
			});
		});
	</script>

	<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Resilience Track",
                dialogClass: 'titleColor',
                width: 1600,
                height: 400
            });
            $("#Resilience .Apporval").click(function () {
            	var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
                $.ajax({
                	type: "POST",
                    url: "/Home/Approval",
                    data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
	</script>

    <script type="text/javascript">
        $(function () {
        	$("#dialogDecline").dialog({
                autoOpen: false,
                modal: true,
                title: "Decline",
                dialogClass: 'titleColor',
                width: 1000,
                height: 400
            });
        	$("#decline .Decline").click(function () {
            	var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
                $.ajax({
                	type: "POST",
                	url: "/Home/Decline",
                    data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                    	$('#dialogDecline').html(response);
                    	$('#dialogDecline').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
        	$("#dialogApproval").dialog({
                autoOpen: false,
                modal: true,
                title: "Approval",
                dialogClass: 'titleColor',
                width: 794,
                height: 350
            });
        	$("#decline .ApprovalRequest").click(function () {
            	var resilienceTrackId = $(this).closest('tr').find('td:eq(0)').text();
                $.ajax({
                	type: "POST",
                	url: "/Home/RequestApproved",
                    data: '{resilienceTrackId: "' + resilienceTrackId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                    	$('#dialogApproval').html(response);
                    	$('#dialogApproval').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
</script>

<script type="text/javascript">
  	$(function () {
  		$("td:contains('Approved')").addClass('greenBg');
  		$("td:contains('Declined')").addClass('redBg');
  		$("td:contains('Pending Approval')").addClass('yellowBg');
  	});
</script>

}
<style>
	.col1 {
		display: none;
	}

	.col2 {
		display: none;
	}

	div.light {
        width: 50px;
        height: 50px;
        background-color: green;
    }

	.btn.btn-circle {
		 border-radius: 50px;
	}

	.text-field {
		 border-radius: 50px;
	}

	.titleColor .ui-dialog-titlebar { 
		 background: #1C2833; 
	}
		.greenBg {
        background: green;
    }
	
	.redBg {
        background: firebrick;
    }

	.yellowBg {
        background: gold;
    }
</style>
<div id="dialog" style="display: none"></div>
<div id="dialogs" style="display: none"></div>
<div id="dialogss" style="display: none"></div>
<div id="dialogDecline" style="display: none"></div>
<div id="dialogApproval" style="display: none"></div>
<br>
<h4 class="modal-title" id="myModalLabel">Resilience Track</h4>
<br>
<div class="card w-100">
	<div class="card-body">
		
		@using (Html.BeginForm("ResiliencTrackList", "Home", FormMethod.Get))
		{
			<table>
				<tr>
					<td><h5>Find by Application ID : </h5></td>
					<td>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control mr-sm-2 text-field ", autocomplete = "off" })</td>
				</tr>
			</table>
			<br />
			<input type="submit" value="Search" class="btn  btn-sm btn-circle btn-outline-dark" />
		}
	</div>
</div>
<br>
<div id="create">
	<button class="Create btn btn-sm btn-circle btn-outline-dark" type="button" id="create" href="javascript:;">CREATE NEW RESILIENCE TRACK</button>
</div>
<br>
<br>
<font size="3">
	<table class="table" id="Resilience">
		<thead class="thead-dark">
			<tr>
				<th class="col1">
				</th>
				<th>
					Status
				</th>
				<th>
					Application ID
				</th>
				<th>
					Application Name
				</th>
				<th>
					Name On Snow
				</th>
				<th>
					Head Of Technology
				</th>
				<th>
					Applicatio Owner
				</th>
				<th>
					Service Manager
				</th>
				<th>
					Tiering
				</th>
				<th></th>
			</tr>
			</thead>
			@foreach (var item in Model)
			{
				<tr>
					<td class="col1">
						@Html.DisplayFor(modelItem => item.ResilienceTrackID, new { id = "resilienceTrackId" })
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ApplicationID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ApplicationName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NameOnSnow)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.HeadOfTechnology)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ApplicatioOwner)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ServiceManager)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tiering)
					</td>
					<td id="decline">
						<button class="Edit btn btn-sm btn-circle btn-secondary" type="button" id="Resilience" href="javascript:;"> EDIT </button>
						<button class="Apporval btn btn-sm btn-circle  btn-primary" type="button" id="Resilience" href="javascript:;"> RESILIENCE </button>
						@if (ViewBag.RolePermission == "Mananger")
						{
							<button class="ApprovalRequest btn btn-sm btn-circle btn-success" type="button" id="decline" href="javascript:;"> APPROVE </button>
							<button class="Decline btn btn-sm btn-circle btn-danger" type="button" id="decline" href="javascript:;"> DECLINE </button>
						}
					</td>
				</tr>
			}
</table>
	<br>
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
	@Html.PagedListPager(Model, page => Url.Action("ResiliencTrackList", "Home", new { page , @class ="pagination"}))
	
</font>