@model IEnumerable<Absa.Web.Models.RolePermissionsModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Role & Permission Type
        </th>
		<th>
			Description
		</th>
        <th>
			Date Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
			@Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
			@Html.DisplayFor(modelItem => item.DateLogged)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RolesPermissionsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RolesPermissionsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RolesPermissionsID })
        </td>
    </tr>
}

</table>
