<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-fill" style="background-color: #DC143C;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#">
				<img src="~/Content/image/ae27564ec7594689a4cf1ed44ebef592.png" width="70" height="40" alt="">
			</a>
			<a class="navbar-brand" href="#"></a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<button class="btn btn-sm btn-success" type="button" id="userList" onclick="location.href='@Url.Action("Index", "Home")'">DashBord</button>
				</li>
				<li class="nav-item active">
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<button class="btn btn-sm btn-success" type="button" id="userList" onclick="location.href='@Url.Action("Approval", "Home")'">Resilience Track</button>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<button class="btn btn-sm btn-success" type="button" id="userList" onclick="location.href='@Url.Action("UserList", "Account")'">Users</button>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-success my-2 my-sm-0" onclick="serch" type="submit">Search</button>
			</form>
			<button class="btn btn-primary my-2 my-sm-0" style='margin-Left:16px' onclick="location.href='@Url.Action("Login", "Account")'">LOGOUT</button>
      </div>
	</nav>
	<br />
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Absa</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
