@model Absa.Web.Models.UserModel
@{
	ViewBag.Title = "CreateUser";
	Layout = null;

}
@section scripts{
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>


}

<script type="text/javascript">
    $(function () {
        $("#butValidateForm").click(function (event) {

            var isValid = $('#myForm').valid();
            if(isValid)
            {
               //do something before submit the form
               $('#myForm').submit();
            }else{
               alert('validation failed');
            }
            event.preventDefault();
        })
    });
</script>

@using (Html.BeginForm("AddUpdateUser", "Account", FormMethod.Post, new { id = "myForm" }))
{
	@Html.AntiForgeryToken()
	<form>
		<div class="form-row">
			<div class="form-group col-md-6">
				@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" , placeholder = "First Name", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
			</div>
			<div class="form-group col-md-6">
				@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" , placeholder = "Last Name", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				@Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Name", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
			</div>
			<div class="form-group col-md-6">
				@Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact Number", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", autocomplete = "off" } })
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
			<div class="form-group col-md-6">
				@Html.DropDownListFor(model => model.BusinessUnit, Model.BusinestUnitList, "Select Business Unit", new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<div class="form-check">
				<div class="checkbox">
					@Html.EditorFor(model => model.IsActive)
					@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
					IsActive
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				@Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", autocomplete = "off" })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
			<div class="form-group col-md-6">
			@Html.DropDownListFor(model => model.RolesPermission, Model.RolesPermissionList, "Select  Role Permission", new { @class = "form-control" })
			</div>
		</div>
		<br />
		<div class="form-row">
			<div class="form-group col-md-6">
				<input type="submit" value="Save" id="butValidateForm" class="btn btn-success btn-lg btn-block" />
			</div>
		</div>
	</form>
}
