

@using Absa.Web.Models
@model UserModel

@{
	ViewBag.Title = "Log in";
	Layout = null;
	ViewBag.color = "red";
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
	.back {
		background:#F5F5F5;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.div-center {
		width: 500px;
		height: 400px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		max-width: 150%;
		max-height: 100%;
		overflow: auto;
		padding: 1em 2em;
		display: table;
	}
	div.content {
		display: table-cell;
		vertical-align: middle;
	}
	.btn-space {
		margin-right: 15px;
	}
	.size-alr {
		width: 500px;
	}
	.text-field {
		 border-radius: 50px;
	}
	.btn.btn-circle { 
		border-radius: 50px;
	}

</style>

<script type="text/javascript">
    function openRegisterView() {
        ajax({
            type: 'GET',
            url: "Register/Account",
            success: function (view) {
                }
            });
    }
</script>

<div class="back">
	<div class="div-center">
			<div class="card">
				<div class="card-body" style="left: 20%; right: 0px;" >
					<img src="~/Content/image/CTO_5-Objectives_T100R.png" style="width:200px; height: 180px; margin-left: 22.4%; margin-right: 15px;"  />
					<br>
					<br>
					<p class="card-text">Enter the your login details in order to gain access. As the first time user Sign Up !</p>
					<br>
					<section id="loginForm">
						@using (Html.BeginForm("GetUserAccess", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group" style="margin-left: 11.5%; margin-right: 15px;">
								<div class="col">
									@Html.TextBoxFor(m => m.UserName, new { @class = "form-control text-field", autocomplete = "off", placeholder = "Username" })
									@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
								</div>
							</div>
							<br>
							<div class="form-group" style="margin-left: 11.5%; margin-right: 15px;">
								<div class="col">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control text-field", placeholder = "Password" })
									@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
								</div>
							</div>
							<br>
							<div class="form-group" style="margin-left: 11.5%; margin-right: 15px;">
								<div class="col">
									<font color="@ViewBag.color">@ViewBag.ErroMessage</font>
								</div>
							</div>
							<br>
							<div class="form-group" style="margin-left: 11.5%; margin-right: 15px;">
								<div class="col">
									<input type="submit" value="Log in" class="btn btn-secondary btn-circle btn-lg btn-block" />
								</div>
							</div>
						}
					</section>

				</div>
			</div>
	</div>
</div>
