@using Absa.Web.Models
@model UserModel

@{
	ViewBag.Title = "RecoverPassword";
	Layout = null;
	ViewBag.color = "red";
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
	.back {
		background: #DC143C;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.div-center {
		width: 600px;
		height: 200px;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		max-width: 200%;
		max-height: 150%;
		overflow: auto;
		padding: 1em 2em;
		border-bottom: 2px solid #ccc;
		display: table;
	}

	div.content {
		display: table-cell;
		vertical-align: middle;
	}
</style>
<h2>Recover Password</h2>
<div class="back">
	<div class="div-center">
		<div class="content">
			<div class="alert alert-dark size-alr" role="alert" style="background-color: #DC143C;">
				<h3>Secover Password</h3>
			</div>
			@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<p>Enter the your email address in order to recover you password.</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" , placeholder = "Last Names", autocomplete = "off" } })
							@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
						</div>
					</div>
					@if (@ViewBag.ErrorMessage != null)
					{
						<div class="alert alert-primary" role="alert">
							@ViewBag.ErrorMessage
						</div>
					}
					<br />
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Create" class="btn btn-danger btn-lg" />
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
