@model IEnumerable<Absa.Web.Models.UserModel>

@{
	ViewBag.Title = "UserList";
}

@section scripts{
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Create",
                width: 600
            });
            $("#UserList .details").click(function () {
                var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "POST",
                    url: "/Account/CreateUser",
                    data: '{customerId: "' + customerId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
</script>

<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Create",
                width: 600
            });
            $("#UserList .EditUser").click(function () {
            	var userID = $("#userID").val();//$(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "POST",
                    url: "/Account/EditUser",
                    data: '{userID: "' + userID + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
</script>


}
<div id="dialog" style="display: none"></div>
	<h3 class="modal-title" id="myModalLabel">Users</h3>
	<br>
	<table class="table table-bordered" id="UserList">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EmailAddress)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContactNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				@Html.HiddenFor(modelItem => item.ID , new { id = "userID" })
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmailAddress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContactNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					<button class="details btn btn-sm btn-outline-success" type="button" id="userList" href="javascript:;">CREATE</button>
					<button class="EditUser btn btn-sm btn-outline-primary" type="button" id="userList" href="javascript:;">MODIFY</button>
					<button class="btn btn-sm btn-outline-primary" type="button" id="userList" onclick="location.href='@Url.Action("Edit", "Edit", new { id = item.ID })'">MODIFY</button>
					<button class="btn btn-sm btn-outline-danger" type="button" id="userList" onclick="location.href='@Url.Action("Delete", "Delete", new { id=item.ID })'">DELETE</button>
				</td>
			</tr>
		}

	</table>
